#deck-header{
	text-align: center;
	display:none;
}
#congrats{
	display:none;
}

#deck-body{
	display:none;
}

#chapter-selection{
	text-align: center;
}

#generate-button{
	text-align: center;
}

.card-container{
	text-align:center;
	border-radius:5px;
	border:3px solid #555;
}

#card-text{
	padding:60px;
}
input[type='checkbox']{
	-webkit-apperance:none;
	width:30px;
	height:30px;
	border-radius:5px;
	border:2px solid #555;
}

input[type='checkbox']:checked{
	background-color:#abd;
}

.card-container h2 img {
	max-height:100%;
	max-width:100%;
}