#header{
	text-align: center;
}

#entry-container{
	text-align: center;
	display: none;
	z-index:-1;
}

#generate-button{
	text-align: center;
	display: none;
	z-index:-1;
}

.card-container{
	text-align:center;
	border-radius:5px;
	border:3px solid #555;
}

#bump-down{
	display:none;
	z-index:-1;
}
#card-text{
	padding:60px;
}
input[type='checkbox']{
	-webkit-apperance:none;
	width:30px;
	height:30px;
	border-radius:5px;
	border:2px solid #555;
}

input[type='checkbox']:checked{
	background-color:#abd;
}